<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Cooperation</title>
        
        <link rel="stylesheet" href="../../static/styles.css">
        <link rel="stylesheet" href="../../static/search.css">

        <script src="../../static/styles.js"></script>
    </head>

    <body>
        <h1>Cooperation</h1>

        <!-- 기업 이름 검색 -->
        <!--
        [type 1]

        <div class="input-group">
            <input type="text" class="form-control" placeholder="검색할 기업의 이름을 입력해주세요" id="search-company">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" onclick="searchCompany();"></button>
            </span>
        </div>
        -->

        <div class="title-container">
            <h1 class="title">검색하려고하는 기업의 이름을 입력하세요</h1>
            <h1 class="title-down">기업 이름 찾는중...</h1>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" onclick="searchCompany();"></button>
            </span>
        </div>
        <div class="gap-box"></div>
        <!--
        [type 2 button]

        <fieldset class="field-container">
            <input type="text" placeholder="기업 이름 검색하기" class="field" id="search-company" />
            <div class="icons-container">
                <div class="icon-search"></div>
                <div class="icon-close">
                    <div class="x-up"></div>
                    <div class="x-down"></div>
                </div>
            </div>
        </fieldset>
        -->

        
        {% for p in post_list %}
        <div class="cards">
            <div class="card">
                <!-- 기업을 대표하는 이미지 -->
                <div class="card__image-holder">
                    {% if p.companyImage %}
                        <img class="card-img-top" src="{{ p.companyImage.url }}" width="300px" alt="{{ p }} head image">
                    {% else %}
                        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
                    {% endif %}
                </div>
        
                <!-- 기업 이름 및 간단 소개 -->
                <div class="card-title">
                    <h2>
                        {{ p.companyName }}<br>
                        <small>
                            {% if p.companyHook %}
                                {{ p.companyHook }}
                            {% endif %}
                            <br> 지역  {{ p.companyLocationCategory }}
                        </small>
                    </h2>
                </div>
        
                <!-- 기업 정보 간략하게 -->
                <div class="card-flap flap1">
                    <div class="card-description">
                        {{ p.companyInform }}
                        <br>
                        <a href="{{ p.companyDomain }}">{{ p.companyDomain }}</a>
                    </div>
                    <div class="card-flap flap2">
                        <div class="card-actions">
                            <a href="{{ p.get_absolute_url }}" class="btn">{{ p.companyName }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <script>
            function searchCompany() {
                let searchValue = document.getElementById('search-company').value.trim();
                if (searchValue.length > 1){
                    location.href = searchValue + "/";
                }
                else {
                    alert('검색어(' + searchValue +')가 너무 짧습니다.');
                }
            };

            document.getElementById('search-company').addEventListener('keyup', function(event)
            {
                if(event.key === 'Enter'){
                    searchPost();
                }
            });
        </script>

    </body>
</html>  