<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <script src='http://code.jquery.com/jquery-3.3.1.js'></script>
    <link href="../../static/newstyle.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <!-- Navigation-->
    {% include 'user/navbar.html' %}
    {% block main_area %}
    <div style="align-items: center; margin-top: 150px;">

        <h1>이력서 수정하기</h1>
        <hr />

        <form method="post" enctype="multipart/form-data" >{% csrf_token %}
            <table>
                {{ form }}
            </table>

            <button type="submit" class="btn btn-dark float-right">Submit</button>
        </form>
    </div>
    {% endblock %}

</body>

</html>