<footer class="bd-footer py-4 py-md-5 mt-5" style="background-color: rgb(33, 33, 33);">
    <div class="container py-4 py-md-5 px-4 px-md-3">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                    aria-label="Bootstrap">
                    <!--로고 넣기-->
                    <span  style="color: white; font-size: 25px; font-family: 'KOTRAHOPE';">초코송이</span>
                </a>

            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5 style="color: white;">Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Home</a></li>
                    <li class="mb-2"><a href="/cooperation/">함께하는 기업</a></li>
                    <li class="mb-2"><a href="/job_list/">일자리 모아보기</a></li>
                    <li class="mb-2"><a href="/experience/">재미있는 직업 체험</a></li>
                    <li class="mb-2"><a href="/resume/">이력서 도우미</a></li>
                    <li class="mb-2"><a href="/help/">도움말</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5 style="color: white;">Github</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://github.com/hdddhdd/2022DaeguSW">repo link</a></li>
                 
                </ul>
            </div>
            <p style="color: white; "> Copyright &copy; 초코송이 2022</p>
        </div>
    </div>
</footer>