<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/newstyle.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    {% include 'user/navbar.html' %}
    <div style="margin-top: 200px;">
        <h1>마이페이지 </h1>
        <h3>내 정보 추가하기</h3>
        <h3>나의 정보 간단하게 보기 </h3>
        <a href="/myresume"> 내가 작성한 이력서 보기 </a>

      
    </div>

</body>

</html>