<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles.css">
    <script src="../../static/styles.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src='http://code.jquery.com/jquery-3.3.1.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="../../static/style.css" rel="stylesheet" />

</head>

<body>
    <!-- Navigation-->
    {% include 'user/navbar.html' %}
    <div style="margin-top: 200px;">
        {% for resume in resumes %}
        <h1>{{resume.user_name}}</h1>
        <!--여기부터수정-->
        <img src="{{resume.user_img.url}}">
    </div>
    {% endfor %}
</body>

</html>