/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

$color: #e24040;

body {
  height: 100vh;
  margin: 0;  
  background: #DEDEDE;
  color: #5a6674;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.gap-box {
  height: 3000px;
  background: #dce1df;
}

// 산학 연계 직업 훈련 - 검색

.search-form:focus {
    outline: none;
    border-color: #e7e600;
    box-shadow: 0 0 10px #e7e600;
}

.search-form {
  width: 60%;
  height: 60px;
  position: absolute;
  top: 100px;
  left: 50%;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    border-color: #e7e600;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 25%;
  left: 38px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  font-align: center;
  background: none;
  color: #5a6674;
  border: none;
  appearance: none;
  outline: none;
}

.search-button {
  width: 13%;
  height: 50px;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 4.5px;
  left: 85%;

  border-radius: 40px;
  border: none;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);

  background-color: #ffaa00;
  cursor: pointer;
  font-size: 20px;
}


// 산학 연계 직업 훈련 - 리스트

.input-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

}

a.btn {
    display: inline-block;
    background: #0096a0;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
    background: lighten(#0096a0, 2.5);
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
    background: darken(#0096a0, 2.5);
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
    transform: translate3d(0, 1px, 0);
    transition: all 0.025s 0s ease-out;
}
/* 
div.cards {
    display: grid;
    max-width: 80%;
    height: 500px;
    text-align: center;
    justify-content: space-between;
}

div.card {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 20px;

    width: 300px;
    margin: 8px;
    background: #ffffff;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    border:solid 5px;
    border-width: thick;
    border-color: #000000;

    img {
        max-width: 300px;
    }

    .card__image-holder {
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        
    }

    div.card-title {
       
        background: #ffffff;
        padding: 6px 15px 10px;
        position: relative;

        a.toggle-info {
            width: 32px;
            height: 32px;
            border-radius: 32px;
            padding: 0;
            position: absolute;
            right: 15px;
            top: 10px;

            span {
                display: block;
                width: 12px;
                height: 2px;
                background: #ffffff;
                position: absolute;
                top: 16px;
                transition: all 0.15s 0s ease-out;
            }

            span.left {
                right: 14px;
                transform: rotate(45deg);
            }

            span.right {
                left: 14px;
                transform: rotate(-45deg);
            }
        }

        h2 {
            margin: 0;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.05em;
            padding: 0;

            small {
                display: block;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: -0.025em;
            }
        }
    }

    div.card-description {
        padding: 0 15px 10px;
        position: relative;
        font-size: 14px;
    }

    div.card-actions {
        box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
        padding: 10px 15px 20px;
        text-align: center;
    }

    div.card-flap {
        width: 100%;
        background: darken(#ffffff, 15);
        position: absolute;
        transform-origin: top;
        transform: rotateX(-90deg);
    }

    div.flap1 {
        transition: all 0.3s 0.3s ease-out;
    }

    div.flap2 {
        transition: all 0.3s 0s ease-out;
    }

}

div.cards.showing {
    div.card {
        cursor: pointer;
        opacity: 0.6;
        transform: scale(0.88);
    }
}

.no-touch div.cards.showing {
    div.card:hover {
        opacity: 0.94;
        transform: scale(0.92);
    }
}

div.card.show {
    opacity: 1 !important;
    transform: scale(1) !important;

    div.card-title {
        a.toggle-info {
            background: #ff6666  !important;

            span {
                top: 15px;
            }

            span.left {
                right: 10px;
            }

            span.right {
                left: 10px;
            }
        }
    }

    div.card-flap {
        background: #ffffff;
        transform: rotateX(0deg);
    }

    div.flap1 {
        transition: all 0.3s 0s ease-out;
    }

    div.flap2 {
        transition: all 0.3s 0.2s ease-out;
    }
} */


#fullscreen{
	width: 100%;
	height: 100%;
	background-color: grey;
}
#screen1{
	width:  100%;
	/* height: 600px; */
	/* background-color: black; */
	float: left;
}
#screen1-1{
	width:  100%;
	height: 300px;
	/* background-color: rgb(255, 0, 0); */
}
#screen1-2{
	width:  100%;
	height: 300px;
	/* background-color: yellow; */
}